BASE_URL=http://localhost:3000
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=test123
STUDENT_EMAIL=student@example.com
STUDENT_PASSWORD=test123
DURATION_SMOKE=10s
DURATION_LOAD=3m
DURATION_STRESS=8m
DURATION_SPIKE=3m
DURATION_SOAK=40m
VUS_LOAD=50
VUS_SOAK=30
